*
{
	margin:0;
	padding:0;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
}
.main-nav
{
	float:right;
	list-style:none;
	margin-top:30px;
}
.main-nav li 
{
	display : inline-block;
}
.main-nav li a{
	color:white;
	text-decoration:none;
	padding:5px 20px;
	font-family:"Roboto":,sans-serif;
	font-size:20px;
}
	.main-nav li.active a 
	{
	border: 1px solid white;
	}
	.main-nav li a:hover
	{
		border: 1px solid white;
	}
	.hero
	{
		position:absolute;
		width: 1200px;
		margin-left: 0px;
		margin-top: 0px;
		text-align:center;
		
	}
	h1
	{
		color:white;
		text-transform:uppercase;
		font-size:70px;
		text-align:center;
		margin-top:275px;
	}
	.button
	{
		margin-top:30px;
		margin-left:440px;
		font-size:30px;
	}
	.btn
	{
		border: 1px solid white;
		padding: 10px 30px;
		color:white;
		tex-decoratio: none;
		margin-right:5px;
		text-transform:uppercase;
	}
